<style>
  #header {
    position: fixed;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border: 1px solid rgba(34,36,38,.15);
    width: 100vw;
    display: grid;
    padding: 7px 2vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left middle right";
    background-color: #fff;
    z-index: 1000;
  }
  #header > .left { grid-area: left; }
  #header > .middle { grid-area: middle; }
  #header > .right { grid-area: right; }
</style>
<div id="header">
  <div class="left">
    
  </div>
  <div class="middle">
    <p>spt</p>
  </div>
  <div class="right">
    
  </div>
</div>